mixin navItem(i,title,badge)
	+e.nav-item.LI
		+e.nav-link(href="#")&attributes(attributes)
			+icon(`${i}`)
			+e.nav-title= title
			if badge
				+e.nav-notice= badge

mixin sProfileNav(data)
	// start sProfileNav
	+b.SECTION.sProfileNav.section#sProfileNav&attributes(attributes)
		+e.top
			.bagde ЮРЛИЦО
			+e.name МИНМОЛОДЕЖИ КБР
			+e.tax-number ИНН 4569886563
			+e.action-row
				+e.action-btn(href="#")
					+icon('user')
					| Профиль
				+e.action-btn(href="#")
					+icon('redo')
					| Обновить
		+e.nav.NAV
			+e.list.UL
				+navItem('users','Сотрудники','10')(class='active')
				+navItem('organisation','Организации','1')
				+navItem('desktop','Формы','2')
				+navItem('screen','Bi аналитика',)
				block
	// end sProfileNav

mixin sUserProfileNav(data)
	// start sProfileNav
	+b.SECTION.sProfileNav.section#sProfileNav&attributes(attributes)
		+e.top
			.bagde.bagde--employee РАБОТНИК
			+e.name Викторовский В.В.
			+e.tax-number МИНМОЛОДЕЖИ КБР
			+e.action-row
				+e.action-btn(href="#")
					+icon('user')
					| Профиль
				//- +e.action-btn(href="#")
				//- 	+icon('redo')
				//- 	| Обновить