// start .sProfileNav
.sProfileNav {
	--sPT: #{rem(0)};
	--sPB: #{rem(30)};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	&__top {
		padding: 16px;
		border-bottom: 1px solid #DDE2E5;
		background: $white;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}
	.bagde {
		display: inline-block;
		padding: 5px 8px;
		margin-bottom: 16px;
		width: auto;
		color: $gray-700;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		border-radius: 4px;
		background:#7BEAFE;
	}
	&__name {
		margin-bottom: 4px;
		font-size: rem(18);
		line-height: 1;
		font-weight: 700;
	}
	&__tax-number {
		margin-bottom: 16px;
		font-size: 12px;
		line-height: 1;
		font-weight: 300;
	}
	&__action-row {
		display: flex;
		justify-content: space-between;
	}
	&__action-btn {
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: 300;
		.icon {
			margin-right: 8px;
			font-size: 16px;
		}
	}
	&__nav {
		background-color: $white;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		overflow: hidden;
	}
	&__list {
		margin-bottom: 0;
		list-style-type: none;
	}
	&__nav-item {
		&:not(:last-child) {
			border-top: 1px solid $gray-100;
			border-bottom: 1px solid $gray-100;
		}
	}
	&__nav-link {
		display: flex;
		align-items: center;
		padding: 14px 16px;
		width: 100%;
		color: $body-color;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		&.active {
			background-color:#DDE2E5;
		}
		.icon {
			margin-right: 12px;
			font-size: 16px;
			stroke-width: 1.5;
		}
	}
	&__nav-title {
		margin-right: 12px;
	}
	&__nav-notice {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		font-size: 10px;
		font-weight: 700;
		background-color: $orange;
		border-radius: 4px;
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProfileNav