mixin sRegistration(data)
	// start sRegistration
	+b.SECTION.sRegistration.section#sRegistration&attributes(attributes)
		.container
			+img('img/logo.svg')
			+e.content
				.section-title.section-title--link
					+e.return-link
						+icon('arrow-left')
					+e.header.h1 Регистрация работника
				+form-wrap
					+e.row.row
						.col-12.col-sm-6.col-md-4
							+floatInput('surname','Фамилия','text','surname')
						.col-12.col-sm-6.col-md-4
							+floatInput('name','Имя','text','name')
						.col-12.col-sm-6.col-md-4
							+floatInput('patronymic','Отчество','text','patronymic')
						.col-12.col-sm-6
							+floatInput('tel','Телефон','tel','tel')
						.col-12.col-md-6
							+floatInput('email','E-mail', 'email', 'email')
						.col-12
							+floatInput('position','Должность','text','position')
						.col-12
							select(placeholder="Территориальный уровень")
								option
								option placeholder1
								option placeholder2
								option placeholder3
							//- .form-wrap__input-wrap.form-group
							//- 	select.form-wrap__input.form-select(name="select")
							//- 		option(selected value="Территориальный уровень") Территориальный уровень
							//- 		option placeholder1
							//- 		option placeholder2
							//- 		option placeholder3
						.col-12
							select(placeholder="Принадлежность к территориальному уровню")
								option
								option placeholder1
								option placeholder2
								option placeholder3
							//- .form-wrap__input-wrap.form-group
							//- 	select.form-wrap__input.form-select(name="select")
							//- 		option(selected value="Принадлежность к территориальному уровню") Принадлежность к территориальному уровню
							//- 		option placeholder1
							//- 		option placeholder2
							//- 		option placeholder3
						.col-12
							+floatInput('organization','Организация','text','organization')
						+e.subtitle Придумайте пароль для входа
						.col-12.col-sm-6 
							+floatInput('password','Новый пароль','password','password')
						.col-12.col-sm-6 
							+floatInput('password-conf','Повторите пароль','password','password-conf')
						+e.btn-col.col-12.col-sm
							+e.btn.btn.btn-primary.BUTTON(type="submit") Подать заявку на регистрацию
				+b.alert--success
					+e.title Ваша заявка отправлена
					p Ожидайте письмо на указанный e-mail с подтверждением заявки
	// end sRegistration

mixin sRegistration2(data)
	// start sRegistration
	+b.SECTION.sRegistration.section.sRegistration--leg#sRegistration&attributes(attributes)
		.container
			+img('img/logo.svg')
			+e.content
				.section-title.section-title--link
					+e.return-link
						+icon('arrow-left')
					+e.header.h1 Регистрация юридического лица
				+form-wrap
					+e.row.row
						.col-12.col-sm-6
							+floatInput('tax','ИНН','number','tax')
						.col-12.col-sm-6
							select(placeholder="Тип")
								option
								option placeholder1
								option placeholder2
								option placeholder3
						.col-12
							select(placeholder="Уровень бюджетного финансирования")
								option
								option placeholder1
								option placeholder2
								option placeholder3
						.col-12.col-md-6
							select(placeholder="Регион")
								option
								option placeholder1
								option placeholder2
								option placeholder3
						.col-12.col-md-6
							select(placeholder="Муниципалитет")
								option
								option placeholder1
								option placeholder2
						.col-12
							+in-c('checkbox','Субсидия от Росмолодежи')
							+in-c('checkbox','Субсидия от РОИВ')
							+in-c('checkbox','Субсидия от МО')
						.col-12
							.upload-field__input-wrap
								label.upload-field__btn.btn.btn-secondary
									input.input-upload(type="file" name="file")
									span Выбрать файл
								.upload-field__file-name Файл не выбран
						.col-12.col-sm-6
							+floatInput('leg-tel','Телефон юр. лица','tel','leg-tel')
						.col-12.col-sm-6
							+floatInput('leg-email','Электронная почта юр. лица', 'email', 'leg-email')
						.col-12
							+floatInput('leg-name','ФИО ответственного за регистрацию юридического лица','text','leg-name')
						.col-12
							+floatInput('leg-position','Должность ответственного за регистрацию юридического лица','text','leg-position')
						.col-12
							+floatInput('leg2-email','Почта ответственного за регистрацию юридического лица', 'email', 'leg2-email')
						.col-12
							+floatInput('address','Адрес юридического лица', 'text', 'address')
						+e.subtitle Придумайте пароль для входа
						.col-12.col-sm-6 
							+floatInput('password','Новый пароль','password','password')
						.col-12.col-sm-6 
							+floatInput('password-conf','Повторите пароль','password','password-conf')
						+e.btn-col.col-12.col-sm
							+e.btn.btn.btn-primary.BUTTON(type="submit") Подать заявку на регистрацию
	// end sRegistration