// start .sEnter
.sEnter {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.container-fluid {
		max-width: 1122px;
	}
	&__content {
		padding-top: 30px;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
			position: relative;
			top: -21px;
		} 
	}
	&__tabs {
		max-width: 448px;
		margin: 0 auto 8px;
	}
	&__tabs-caption {
		display: flex;
	}
	&__tabs-btn {
		padding: rem(16) rem(10);
		width: 50%;
		text-align: center;
		font-size: rem(18);
		font-weight: 500;
		background: $white;
		border-radius: $border-radius $border-radius 0px 0px;
		&:not(.active) {
			color: $white;
			background-color: rgba(248, 249, 250, 0.20);
		}
	}
	&__tabs-content {
		padding: rem(24);
		background-color: $white;
	}
	.form-wrap__input-wrap {
		margin-bottom: 16px;
	}
	.form-wrap__btn {
		width: 100%;
	}
	.form-wrap__btn-col {
		padding-top: 8px;
	}
	&__registration {
		max-width: 448px;
		margin: 0 auto;
		padding: rem(24);
		border-radius: $border-radius;
		border: 1px solid var(--gray2, #DDE2E5);
		background:$white;
		box-shadow: 0px 25px 43px -12px rgba(0, 0, 0, 0.14);
	}
	&__btn {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sEnter