mixin sEnter(data)
	// start sEnter
	+b.SECTION.sEnter.section#sEnter&attributes(attributes)
		.container
			+img('img/logo.svg')
			+e.content
				+e.tabs.tabs
					+e.tabs-caption.tabs__caption
						+e.tabs-btn.tabs__btn.active Вход для работника
						+e.tabs-btn.tabs__btn Вход для организации
					+e.tabs-content.tabs__content.active
						+form-wrap
							.row
								.col-12
									+floatInput('enter-email','E-mail','text','enter-email')(required value="lun@lkj.cd")
								.col-12
									+floatInput('password','Пароль','password','password')(required)
								+e.btn-col.col-12.col-sm-6
									+btn("Забыли пароль?").btn.btn-secondary
								+e.btn-col.col-12.col-sm-6
									+btn("Войти").btn.btn-primary
					+e.tabs-content.tabs__content
						+form-wrap
							.row
								.col-12
									+floatInput('tax','ИНН','number','tax')(required)
								.col-12
									+floatInput('password','Пароль','password','password')(required)
								+e.btn-col.col-12.col-sm-6
									+btn("Забыли пароль?").btn.btn-secondary
								+e.btn-col.col-12.col-sm-6
									+btn("Войти").btn.btn-primary
				+e.registration
					+btn("Зарегистрироваться как работник").btn.btn-accent
					+btn("Зарегистрироваться как юр. лицо").btn.btn-primary

	// end sEnter

mixin sPressEnter(data)
	// start sEnter
	+b.SECTION.sEnter--press.section#sEnter&attributes(attributes)
		+e.press-container
			+form-wrap
				+e.title Создание новостей
				p Введите ваши данные для входа чтобы перейти к форме создания новости
				.row
					.col-12
						+floatInput('enter-email','Ваш логин','text','enter-email')(required value="lun@lkj.cd")
					.col-12
						+floatInput('password','Пароль','password','password')(required)
					.col-12
						+btn("Войти").btn.btn-accent
					.col-12
						+btn("Забыли пароль?").btn.btn-secondary
		.container