
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit"  )  
				+policy()

	div(id="modal-worker"  style="display: none" )
		+b.modal-win
			+e.modal-wrap
				+e.name Костин Валентин Викторович
				dl
					dt Телефон
					dd 8 800 658 66 88
					dt E-mail
					dd sample@sample.com
					dt Регион
					dd Краснодарский Край
	// #modal-call

	
	// end modals