.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&[class*="fixed"],
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px; 
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}
	&[class*="fixed"] { 
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999; 
		touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    /* Other browsers */
    overscroll-behavior: none;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}
.enter-page {
	background-color: $primary;
}
.main-page {
	background-color: $gray-100;
	&--bottom-btn {
		footer {
			padding-bottom: 55px;
		}
	}
	&--news {
		background-color: $white;
	}
	address p, .footer__schedule {
		color: $body-color;
	}
	.footer__title, .footer__tel, .footer__copyright {
		color: #ACB5BD;
	}
	.footer__copyright {
		border-color: #DDE2E5;
	}
}
.row--profile {
	--bs-gutter-x: #{rem(32)};
}
.main-wrapper { 
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
main{
	flex-grow: 1;
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
	
	&--link {
		display: flex;
		flex-wrap: wrap;
	}
	&--form-inner {
		align-items: center;
		margin-bottom: rem(28);
		.section-title__return-link {
			margin-right: 10px;
			padding-right: 5px;
		}
		h1 {
			margin-bottom: 0;
			font-size: 14px;
			flex: 1 0 0%;
			width: 100%;
			max-width: 100%;
		}
		.icon {
			font-size: 10px;
		}
	}
	&__asidue{
		
	}
	&__return-link {
		display: inline-block;
		margin-right: 15px;
		position: relative;
		top: rem(-3);
		.icon {
			stroke: $primary;
			stroke-width: 2;
			font-size: rem(16);
			stroke-linecap: square;
		}
	}
	&__link{
		font-size: rem(14);
			.icon{
				font-size: 1rem;
				margin-right: rem(8);
				position: relative;
				top: rem(-2);
			}
	}
	&--main-headings {
		padding-top: rem(85);
		color: $primary;
		font-weight: 500;
		h1 {
			position: relative;
			font-size: rem(32);
			line-height: 1;
			@include media-breakpoint-up(xl) {
				font-size: rem(60);
			}
			&::before {
				content: attr(data-title);
				position: absolute;
				z-index: -1;
				left: 0;
				bottom: -6px;
				font-weight: 500;
				line-height: 1;
				font-size: rem(60);
				color: transparent;
				-webkit-text-stroke: 1px #252525;
				text-stroke: 1px #252525;
				opacity: 0.23;
				white-space: nowrap;
				@include media-breakpoint-up(xl) {
					bottom: -8px;
					font-size: rem(120);
				}
			}
		}
	}

}
h1 {
	@include media-breakpoint-down(sm) {
		font-size: 20px;
	}
}
.btn {
	@include media-breakpoint-down(sm) {
		font-size: 16px;
	}
}
.btn-primary {
	color: $accent;
	&:hover {
		color: $accent;
	}
	&:active {
		color: $accent !important;
		background-color: #5B4095 !important;
	}
}
.btn-secondary {
	color: $primary;
	&:hover {
		color: $primary;
		background-color: rgba(140, 100, 216, 0.20);
	}
	&:active {
		color: $primary !important;;
		background-color:rgba(140, 100, 216, 0.30) !important;;
	}
}
.btn-accent {
	color: $primary;
	&:hover {
		color: $primary;
		background-color: #EDFF3F;
	}
	&:active {
		color: $primary !important;;
		background-color:#C2D31B;
	}
}

.alert {
	position: relative;
	padding: 16px;
	padding-left: 40px;
	border-radius: 4px;
	&::before {
		position: absolute;
		content: '';
		left: 16px;
		top: 16px;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&--success {
		background: rgba(22, 182, 105, 0.10);
		&::before {
			background-image: url('../img/ok.svg');
		}
	}
	&--notice {
		background-color: rgba(239, 146, 82, 0.10);
		&::before {
			background-image: url('../img/info.svg');
		}
	}
	&--error {
		background-color:  rgba(233, 0, 42, 0.10);
		&::before {
			background-image: url('../img/x.svg');
		}
	}
	&--info {
		background-color:  rgba(255, 255, 255, 0.80);
		&::before {
			background-image: url('../img/info-dark.svg');
		}
	}
	&__title {
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: 500;
		line-height: 140%;
	}
	p {
		margin-bottom: 0;
		color: #43485A;
		font-size: 12px;
		font-weight: 300;
		line-height: 130%;
	}
}

.badge {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 4px 6px 4px 20px;
	color: $gray-700;
	line-height: 1.2;
	font-size: 10px;
	font-weight: 700;
	border-radius: 4px;
	&::before {
		position: absolute;
		display: inline-block;
		content: '';
		left: 4px;
		top: 4px;
		width: 12px;
		height: 12px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&--alarm {
		background-color: #FFDCE2;
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2288_1661)'%3E%3Cpath d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='%23FF2147'/%3E%3Cpath d='M6.00081 7.2C5.78352 7.19999 5.57467 7.1159 5.418 6.96535C5.26133 6.81479 5.16899 6.60945 5.16034 6.39234L5.04948 3.59297C5.04503 3.47981 5.06347 3.36693 5.10371 3.26107C5.14394 3.15522 5.20513 3.05858 5.28361 2.97694C5.36209 2.89531 5.45625 2.83036 5.56044 2.786C5.66463 2.74163 5.7767 2.71876 5.88995 2.71875H6.11167C6.22491 2.71876 6.33698 2.74163 6.44117 2.786C6.54536 2.83036 6.63952 2.89531 6.718 2.97694C6.79648 3.05858 6.85767 3.15522 6.89791 3.26107C6.93814 3.36693 6.95658 3.47981 6.95213 3.59297L6.84127 6.39234C6.83262 6.60945 6.74028 6.81479 6.58361 6.96535C6.42694 7.1159 6.21809 7.19999 6.00081 7.2Z' fill='white'/%3E%3Cpath d='M6.83969 8.44133C6.83969 7.97754 6.46371 7.60156 5.99992 7.60156C5.53613 7.60156 5.16016 7.97754 5.16016 8.44133C5.16016 8.90512 5.53613 9.28109 5.99992 9.28109C6.46371 9.28109 6.83969 8.90512 6.83969 8.44133Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2288_1661'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	&--succeed {
		background-color: #DCFFE8;;
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2288_1710)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C2.69063 0 0 2.69063 0 6C0 9.30937 2.69063 12 6 12C9.30937 12 12 9.30937 12 6C12 2.69063 9.30937 0 6 0Z' fill='%234BAE4F'/%3E%3Cpath d='M4.84453 8.74434C4.07812 7.97793 3.31641 7.20449 2.54766 6.43809C2.46328 6.35371 2.46328 6.21309 2.54766 6.12871L3.43125 5.24512C3.51562 5.16074 3.65625 5.16074 3.74063 5.24512L5.00391 6.5084L8.25234 3.25762C8.33906 3.17324 8.47734 3.17324 8.56406 3.25762L9.45 4.14355C9.53672 4.23027 9.53672 4.36855 9.45 4.45293L5.15391 8.74434C5.06953 8.83105 4.93125 8.83105 4.84453 8.74434Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2288_1710'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	&--filled {
		background-color: #FFE7C0;;
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.99986 9.42871C4.10879 9.42871 2.57129 7.89121 2.57129 6.00014C2.57129 4.10907 4.10879 2.57157 5.99986 2.57157C7.89093 2.57157 9.42843 4.10907 9.42843 6.00014C9.42843 7.89121 7.89093 9.42871 5.99986 9.42871Z' fill='%23FAA419'/%3E%3C/svg%3E%0A");
		}
	}
}

.send-form {
	position: fixed;
	padding: 8px 0;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 8px 8px 0px 0px;
	background: $white;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
	z-index: 10;
}
.send-form-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.btn {
		font-size: rem(18);
		padding-block: 5px;
	}
}
.send-form-mess {
	display: flex;
	align-items: center;
	img {
		margin-right: 8px;
	}
	color: #CE3A3A;
	font-size: 14px;
	font-weight: 300;
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs; 
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	--bs-primary: #DEDEDE;
 
  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary) transparent;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 16px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	
	// @include row-sw(10px, sm, 100px);
}




// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }

.btn,
.form-control,
.form-select{
	box-shadow: none !important;
}


.fancybox__content :focus:not(.carousel__button.is-close){
	outline: none !important;
}

.form-switch ,
.form-check-input,
.form-check{
	cursor: pointer;
}



.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	img.object-fit-js{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ratiod{
	@include block(2,3);
	background-color: $primary;
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
}

.crop-text{
	position: relative;
	overflow: hidden;
}
[data-readmore-toggle]{
	margin-bottom: 1rem;
	display: inline-block;
	
}
// .crop-text{
// 	max-height: 60px;
// 	margin-bottom: 1rem;
// }