// start .sDashboard
.sDashboard {
  --sPT: #{rem(0)};
  // --sPB: #{rem()};
  // --sTPB: #{rem()};
  &__bg {
    background-color: #fff;
    padding: 1rem;
    border-radius: rem(8);
    margin-bottom: 2rem;
  }

  &__chart-wrap {
    overflow-x: auto;
    margin-bottom: 1rem;
    canvas {
      width: 1040px !important;
      height: 550px !important;
    }
  }
  &__row {
    // --bs-gutter-x: #{rem()};
    --bs-gutter-y: var(--bs-gutter-x);
  }
  .section-title {
  }
  &__col {
  }
  &__item {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: rem(8);
  }

  @include media-breakpoint-up(xl) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-between(md, xl) {
  }
  @include media-breakpoint-only(xl) {
  }
  @include media-breakpoint-down(xl) {
  }
} // end.sDashboard

.table-wrap {
  overflow-x: auto;
}
.table__chart {
  min-width: 800px;
  td,
  th {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      text-align: right;
    }
  }
  tfoot {
    td {
      background: #f8f9fa;
    }
  }
}
