mixin fromSectionItem(active, badge, mod, title)
	+e.item.LI
		+e.link(href="#" class=active)
			+e.section Раздел
			if badge
				div(class=`badge badge--${mod}`)= badge
			+e.title= title
	if block
		block

mixin sFormSection(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL
			+fromSectionItem('active', 'Ошибки','alarm','Вовлеченность молодежи в инновационную деятельность и научно-техническое творчество')
			+fromSectionItem('', 'Принято','succeed','Вовлеченность молодежи в инновационную')
			+fromSectionItem('', 'Заполнено','filled','Вовлеченность молодежи в инновационную деятельность и научно-техническое творчество')
			+fromSectionItem('', '','','Вовлеченность молодежи в инновационную деятельность ')
			+fromSectionItem('', '','','Вовлеченность')
			+fromSectionItem('', '','','Деятельность и научно- техническое творчество')
	// end sFormSection

mixin sFormSection2(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL.list_large
			+fromSectionItem('active', '','','Название раздела')
			+fromSectionItem('', '','','Название раздела')
			+fromSectionItem('', '','','Название раздела в несколько строк для наглядности')
		+e.link.link-downl(href="#")
			+icon("comment") 
			| Скачать шаблон для ответов
	// end sFormSection

mixin sFormSection3(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL.list_large
			+fromSectionItem('', '','','Название раздела')
			+fromSectionItem('active', '','','Название раздела')
			+fromSectionItem('', '','','Название раздела в несколько строк для наглядности')
		+e.link.link-downl(href="#")
			+icon("comment") 
			| Скачать шаблон для ответов
	// end sFormSection

mixin sFormSection4(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL.list_large
			+fromSectionItem('', '','','Название раздела')
				+e.add-list.UL
					li.sFormSection__additionail-item.active: a(href='#').sFormSection__link.sFormSection__link--sm Название показателя
					li.sFormSection__additionail-item: a(href='#').sFormSection__link.sFormSection__link--sm Еще показатель
					li.sFormSection__additionail-item: a(href='#').sFormSection__link.sFormSection__link--sm Снова показатель
					li.sFormSection__additionail-item: a(href='#').sFormSection__link.sFormSection__link--sm И опять показатель
			+fromSectionItem('', '','','Название раздела')
			+fromSectionItem('', '','','Название раздела в несколько строк для наглядности')
	// end sFormSection

mixin fromSectionItem11(active, title, id)
	+e.item.LI
		+e.link(href=`#${id}` class=active)
			+e.title= title

mixin sFormSection11(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL
			+fromSectionItem11('', 'География', 'event-geography')
			+fromSectionItem11('', 'О мероприятии', 'event-info')
			+fromSectionItem11('', 'Детали', 'event-detailes')
			+fromSectionItem11('', 'Участники', 'participants-info')
			+fromSectionItem11('', 'Волонтеры', 'volunteers-info')
			+fromSectionItem11('', 'Ссылки', 'links')
			+fromSectionItem11('', 'Организаторы', 'organizers')
			+fromSectionItem11('', 'Обратная связь', 'feedback')
	// end sFormSection