mixin fromSectionItem(active, badge, mod, title)
	+e.item.LI
		+e.link(href="#" class=active)
			+e.section Раздел
			if badge
				div(class=`badge badge--${mod}`)= badge
			+e.title= title

mixin sFormSection(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL
			+fromSectionItem('active', 'Ошибки','alarm','Вовлеченность молодежи в инновационную деятельность и научно-техническое творчество')
			+fromSectionItem('', 'Принято','succeed','Вовлеченность молодежи в инновационную')
			+fromSectionItem('', 'Заполнено','filled','Вовлеченность молодежи в инновационную деятельность и научно-техническое творчество')
			+fromSectionItem('', '','','Вовлеченность молодежи в инновационную деятельность ')
			+fromSectionItem('', '','','Вовлеченность')
			+fromSectionItem('', '','','Деятельность и научно- техническое творчество')
	// end sFormSection

mixin fromSectionItem11(active, title)
	+e.item.LI
		+e.link(href="#" class=active)
			+e.title= title

mixin sFormSection11(data)
	// start sFormSection
	+b.SECTION.sFormSection.section#sFormSection&attributes(attributes)
		+e.list.UL
			+fromSectionItem11('', 'География')
			+fromSectionItem11('', 'О мероприятии')
			+fromSectionItem11('', 'Детали')
			+fromSectionItem11('', 'Участники')
			+fromSectionItem11('', 'Волонтеры')
			+fromSectionItem11('', 'Ссылки')
			+fromSectionItem11('', 'Организаторы')
			+fromSectionItem11('', 'Обратная связь')
	// end sFormSection