extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sStaff/_sStaff.pug
include ../blocks/sProfileNav/_sProfileNav.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Организации'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			.row.row--profile
				.col-lg-3
					+sProfileNav
				.col-lg-9
					+sStaff('Организации')
						+orgItem("ID 458",'add','grant','8 800 658 94 45','Ufsin_komi@mail.ru','Управление федеральной службы исполнения наказаний по республике Коми')
						+orgItem("ID 458",'','grant','8 800 658 94 45','Ufsin_komi@mail.ru','Управление федеральной службы исполнения наказаний по республике Коми')
						+orgItem("ID 458",'','','8 800 658 94 45','Ufsin_komi@mail.ru','Управление федеральной службы исполнения наказаний по республике Коми')
						+orgItem("ID 458",'','','8 800 658 94 45','Ufsin_komi@mail.ru','Управление федеральной службы исполнения наказаний по республике Коми')
					+displayRow
	+parts('footer')




