extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sFormInner/_sFormInner.pug
include ../blocks/sFormSection/_sFormSection.pug

block variables
	- let  mainPage= 'main-page main-page--bottom-btn' 
	- let  bg= null

block title
	- let  title= 'Форма №1'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			.row
				+b.section-title.section-title--link.section-title--form-inner
					+e.return-link(href='#')
						+icon('arrow-left')
					+e.header.H1 Форма №1-молодежь (годовая) январь 2023
				.col-lg-3
					+sFormSection
				.col-lg-9
					+sFormInner
		.send-form
			.container
				.send-form-row
					.send-form-mess.d-none.d-sm-block
						+img('img/alarm.svg')
						span Есть ошибки и комментраии
					.btn.btn-primary.BUTTON Отправить на проверку
	+parts('footer')




