include ../../layout/include.pug

+b.modal-win
  +e.name Костин Валентин Викторович
  +e.dl-row
    +e.dt Телефон
    +e.dd 8 800 658 66 88
  +e.dl-row
    +e.dt E-mail
    +e.dd sample@sample.com
  +e.dl-row
    +e.dt Регион
    +e.dd Краснодарский Край