mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		+e.container.container
			+e.logo-link(href="#")
				+icon('logo')
			+e.leave-link(href="#")
				| Выйти
				+icon('exit')

	// end topLine