
	// start .topLine
	.topLine {		 
	// --sPT: #{rem(22)};
	// --sPB: #{rem(26)};
	// --sTPB: #{rem()};
	padding-top: rem(22);
	padding-bottom: rem(26);
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__logo-link {
		margin-right: 15px;
	}
	&__leave-link {
		display: flex;
		align-items: flex-end;
		color: $body-color;
		font-size: 14px;
		font-weight: 500;
		line-height: 140%;
		&:hover {
			.icon {
				color: $body-color;
			}
		}
		.icon {
			margin-left: 8px;
			color: $red;
			font-size: 24px;
			@include mt;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine